
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    display: inline-block;
    background: royalblue;
    font-weight: bold;
    color: whitesmoke;
}
ul {
    list-style-type: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    border:  1px;
}
nav a:active{
    color: purple;
}
nav a:visited{
    color: white;
}
nav a{
    text-decoration: none;
    color: white;
}